/* Scss Document */

$blue: #518ED6; 
$blue50: rgba($blue, 0.5); 
$blue20: rgba($blue, 0.2); 


$copyBlack: #29292A;
$copyBlack50: rgba($copyBlack, 0.5);
$copyBlack20: rgba($copyBlack, 0.2);

$midGrey: #707070;
$lightGrey: #DDDDDD;

$white: #ffffff;
$white20: rgba($white, 0.20); 
$white50: rgba($white, 0.50); 
$white85: rgba($white, 0.85); 



$dottedBorder: 1px dotted $midGrey;



//Google FONT - Bitter 400 regular, 400i reg italic 700 bold 
$primaryFont: 'Bitter', sans-serif; 

//Google FONT - Lato 400 regular, 400i reg italic 700 bold 
$secondaryFont: 'Lato', sans-serif; 



