/* Scss weather API */

#map {height: 100%}

.outerCircle {
	border: 2px solid $blue;
	border-radius: 50%;
	width: 280px;
	height: 280px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.weatherContent {
	align-self: center;
	text-align: center;

}

img.weatherIcon {
	width: 65px;
	margin-top: 10px;
}

//typography see typography base

.googleMap {
	border: 1px solid $copyBlack50;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}